@model Hakuna.Models.Genre
@{
    Layout = "_AddForm";
    ViewBag.Title = "Adding new Genre";
    ViewBag.AddHeadline = "Create new Genre";
}
<label class="form-label">Name</label>
<input type="text" required class="form-control" asp-for=Name >


