@model List<Hakuna.Models.Genre>
        @Html.Partial("_SuccessFlash")
        @Html.Partial("_FailFlash")
    <div class="container">
        <div class="d-flex justify-content-between">
                <h1>Genres List</h1>
                <a href='@Url.Action("Add", "Genre")' class="btn btn-primary btn-info "> Add new genre </a></div>
        <hr>
        <div class="card-list col-md-6 col-sm-12" >
            @foreach(var item in Model)
            {
            <div class="card movie-card mb-3" style="text-align:center;">
                <div class="card-header" >
                    <h2 >@item.Name</h2>
                </div>
                
            </div>
            }
    </div>
    
 
</div>
   