@{
    Layout = "_AddForm";
    ViewBag.Title = "Add new customer";
    ViewBag.AddHeadline = "Creating a customer ";
}
@model Hakuna.Models.Customer

<div class="form-group">
    <label asp-for="Name">Name:</label>
    <input type="text" asp-for="Name"  value="" required  class="form-control">
</div>

<div class="form-group">
    <label asp-for="LastName">Last Name:</label>
    <input type="text" asp-for="LastName" value=""  required class="form-control">
</div>

<div class="form-group">
    <label asp-for="Name">Age:</label>
    <input type="number"  asp-for="Age"  value="" required min="12" class="form-control">
</div>
<div class="form-group">
    <label asp-for="MembershipId">Membership Type:</label>
    <select asp-for="MembershipId" value="" required asp-items="@ViewBag.Members" class="form-control">
        <option value="" selected  > -- Select a Genre from the list</option>
        </select>
</div>
